:root {
	--back-dim: rgba(0, 0, 0, 0.04);
}

@media (prefers-color-scheme: dark) {
	:root {
		--back-dim: rgba(255, 255, 255, 0.04);
	}
}

main {
    max-width: unset;
    margin: unset;
	padding: unset;
}

section {
	display: flex;
	flex-wrap: wrap-reverse;
	padding: 3rem 8rem;
}

section:nth-of-type(2n) {
	flex-direction: row-reverse;
	background-color: var(--back-dim);
	text-align: end;
}

section > div {
	flex-grow: 1;
	width: 20em;
}

section > svg {
	fill: var(--theme);
	width: 8rem;
	padding: 0 2rem;
	margin: auto;
}

.join-us {
	text-align: center;
}

.join-us a {
	background: var(--theme);
	color: var(--back);
	border-radius: .5rem;
	padding: .3rem .5rem;
	margin: .3rem;
	text-decoration: none !important;
}

@media (max-width: 768px) {
	section {
		padding: 3rem 2rem;
	}
	section > div {
		text-align: center;
	}
}
