/* color scheme */

:root {
	--bottom: #e4e4e4;
	--back: #ffffff;
	--fore: #000000;
	--dark: #808080;
	--theme: #b53b3a;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bottom: #101010;
		--back: #181818;
		--fore: #bbbbbb;
		--dark: #a0a0a0;
		--theme: #b53b3a;
	}
}

/* base */

html {
	background-color: var(--bottom);
	padding: 0;
	overflow-x: hidden;
}

body {
	max-width: 64em;
	margin: auto;
	color: var(--fore);
	font-family: sans-serif;
	background-color: var(--back);
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	text-align: justify;
}

/* header */

#top {
	border-top: 3px solid var(--theme);
}

#top .skip {
	position: fixed;
	top: -100%;
}

#top a, #header a {
	text-decoration: none;
}

#banner {
	text-align: center;
	padding: 2rem 0;
}

#banner svg {
	vertical-align: middle;
	fill: var(--theme);
	stroke: var(--theme);
	stroke-width: 0.6px;
}

#banner small {
	font-size: .9rem;
	color: var(--dark);
}

#nav {
	text-align: center;
	background-color: var(--theme);
	padding-left: 0;
	height: 2.25rem;
	text-indent: 4rem;
	overflow-y: hidden;
	text-transform: uppercase;
	margin: 0;
}

#nav li {
	display: inline-block;
	text-indent: 0;
}

#nav li a {
	font-weight: bold;
	display: inline-block;
    line-height: 2rem;
    padding: 0 .6rem;
    margin-top: .125rem;
	color: var(--back);
}

#nav li a:hover,
#nav li a.dim,
#nav li:first-child a {
	background-color: rgba(0, 0, 0, 0.1);
}

#nav > li:first-child {
	float: right;
	padding: 0 1em;
}

#nav:target {
	height: auto;
}

#nav:target a[href="#nav"],
#nav:not(:target) a[href="#content"] {
	display: none;
}

/* main content */

main {
    max-width: 45rem;
    margin: 4rem auto;
	padding: 0 1rem;
}

img {
	max-width: 100%;
}

a {
	color: var(--theme);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table {
	width: 100%;
	text-align: left;
	border-spacing: 0;
	border-collapse: collapse;
}

table th, table td {
	padding: 6px 13px;
	border: 1px solid var(--fore);
}

/* footer */

footer {
	font-size: .9rem;
	padding: 1rem;
	background-color: var(--theme);
	color: var(--bottom);
	text-align: center;
}

.back-to-top {
	height: 0;
	overflow: visible;
	text-align: end;
}

.back-to-top a {
	display: inline-block;
	width: 2em;
	height: 2em;
	padding: 4pt;
	padding-bottom: 0;
	border: var(--theme) 1pt solid;
	border-radius: 4pt;
	color: var(--theme);
	background-color: var(--back);
	text-align: center;
	transform: translateY(-1.8em);
	margin: 0 2em;
}

footer a {
	color: var(--back);
}

footer p {
	margin: 0;
}
